{% extends 'comite_admin/admin.html.twig' %}





{% block content_body %}
    <h1>Nouvel Utilisateur! </h1>
    {{ include('tool_admin/_form.html.twig', {
        button_text: 'Modifier!'
    }) }}
{% endblock %}