*,*::before,*::after{
  box-sizing: border-box;
}

.tool{

  &__table{

    padding-top: 50px;
  }
}
//@media only screen and (max-width: 700px)  {
//  table, thead,tbody,tr,th,td{
//    display: block;
//  }
//  td{
//    padding-left:150px;
//    position:relative;
//  }
//  td:before{
//    content:'salut';
//    position:absolute;
//    top:0;
//    left:0;
//    width: 130px;
//  }
//}
@media (max-width: 600px) {
  .responsive-table-line td:before { content: attr(data-title); }
  .responsive-table-line table,
  .responsive-table-line thead,
  .responsive-table-line tbody,
  .responsive-table-line th,
  .responsive-table-line td,
  .responsive-table-line tr {
    display: block;
  }


  .responsive-table-line thead tr {
    display:none;
  }
  .responsive-table-line tbody {
    width:300px;
  }

  .responsive-table-line td {
    position: relative;
    height: 30px;
    border: 0px solid transparent;
    padding-left: 50% !important;
    white-space: normal;
    text-align:left;
  }

  .responsive-table-line td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    padding-right: 15px;
    height:100%;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow:hidden !important;
    text-align:left;
    background-color:#f8f8f8;
    padding:2px;
  }
}