{% block subject 'Welcome to newsletter, ' %}

{% block body_html %}
    This is the <strong>HTML body</strong>.
{% endblock %}

{% block body_text %}

    <div class="container">
    <div class="row justify-content-center site__title">
        <h1>{{nom }} {{prenom}}</h1>
    </div>
    <div>
        {{ message }}


        {{ email }}
    </div>

{% endblock %}