<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CE Battants{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name = "google-signin-client_id" content = "654323288425-ospu1a36l7o0mlhv8vp5udd6t5fi0h09.apps.googleusercontent.com">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {#            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">#}
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121299782-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121299782-3');
    </script>

</head>

{% block header %}
    {{ include('comite/header.html.twig') }}

{% endblock %}

<body>



{% block body %}{% endblock %}

{% block javascripts %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
</body>
</html>