{% extends 'base.html.twig' %}
{% block title %}Error500{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center site__title">
            <h1>Page non Trouvée</h1>
        </div>
        <div class="row">
            <p>
                Les ressources que vous avez demandé n'existe pas ou plus. Veuillez vérifier l'URL que vous avez demandé ou  <a href="/">Retour au menu</a>.
            </p>
        </div>

{% endblock %}